<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online Electronic Web application</title>
</head>
<body>
  <%- include ('partials/homebar') -%>
  <h1>Welcome to my Electronics Hardware Store!</h1>
  <p>Feel free to look around the website for more information</p>

    
</body>